body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 20px;
}

.card h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    color: #666;
    margin-bottom: 8px;
    text-align: center;
}

.card .email,
.card .phone {
    font-weight: bold;
    color: #555;
}

.card button {
    display: block;
    width: 80%;
    margin: 20px auto 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #ff4f4f;
}

#user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.loading-gif {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}


.pre-loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #191f26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pre-loader.hidden {
    animation: fadeOut 2.7s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



